.time-website-changingdate {
  width: 60vw;
display: flex;
  position: relative;
  background-color: rgb(255, 250, 250);
  margin: auto;
  display: flex;
  margin-right: 20%;
  margin-bottom: 20px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
  border-radius: 7px;
  
}
