.time-website-time-top {
  width: 59vw;
  height: 8vh;
  position: relative;
  background-color: rgb(214, 40, 40);
  flex-direction: row;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 6px;
  margin-top: 10px;
}
.time-website-time-top-inner {
  width: 7vw;
  height: 8vh;
  position: relative;
  background-color: rgb(163, 27, 27);
  bottom: 15px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid rgba(255, 255, 255);
}
.time-website-time {
}
.time-website-date {
  width: 60vw;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #e7e7e7;
  line-height: 2;
  border-radius: 0 0 4px 4px;
  border-top: 2px solid #d9d9d9;
}
